* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f8f8;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: rgb(243, 243, 243);
}

nav {
  height: 50px;
  background: linear-gradient(
    124deg,
    #1dcae8,
    #1de8e8,
    #ff00aa,
    #a81de8,
    #6800ad,
    #bf1de8,
    #e81dcd,
    #f300aa,
    #8400ff
  );
  background-size: 1800% 1800%;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 4rem;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.content {
  padding: 4rem;
}

.content p,
.content h3,
.content ul {
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  color: #18a7c0;
  font-weight: 600;
  display: block;
  padding-top: 1rem;
}
.variety-link {
  text-decoration: none;
  color: #191f20;
  font-weight: 600;
}
.variety-link p {
  text-decoration: none;
  color: #191f20;
  font-weight: 400;
}

pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  clear: both;
  color: #fff;
  background: #1b1b1b;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
  line-height: 28px;
  border-radius: 8px;
  overflow: hidden;
}

pre code {
  scrollbar-color: #666 #201c29;
  background: 0 0;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  display: block;
  max-width: 100%;
  min-width: 100px;
  font-size: 16px;
  padding: 15px 20px 12px 22px;
  line-height: 1.75;
}

pre[rel]:not([rel=""]):before {
  font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode,
    Tahoma, Sans-Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  content: attr(rel);
  color: #fff;
  position: absolute;
  top: -0.2rem;
  right: 0.4rem;
  padding: 0;
  color: #ff7a18 !important;
}

.language-javascript {
  color: #f5d67b;
}

.token.selector {
  color: #f5d67b;
}

.token.punctuation {
  color: rgb(236, 1, 236);
}
.token.punctuation-2 {
  color: rgb(122, 184, 255);
}
.token.punctuation-3 {
  color: rgb(193, 222, 255);
}

.token.property {
  color: #fff;
}

.token.node {
  color: #72e0d1;
}
.token.node-int {
  color: rgb(255, 219, 195);
}
.token.node-int-2 {
  color: rgb(255, 164, 103);
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border-radius: 14px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: "Karla", "sans-serif";
  margin: 1rem;
}

.card img {
  object-fit: cover;
  height: 250px;
}

.card h3,
.card p {
  padding: 0.5rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
